{% extends "base_generic.html" %}

{% block content %}
<div class="col-md-6 p-lg-5 mx-auto my-auto">
  {% load static %}
  <h1>{{ car.name }} <img src="{% static 'img/car.png' %}" class="iconpng" /></h1>

  <p><strong>&#128526; Pilot:</strong> <a href="{% url 'pilot-detail' car.pilot.id %}">{{ car.pilot }}</a></p>
  <p><strong>&#127752; Color:</strong> {{ car.get_color_display }}</p>
  <p><strong>&#128640; Max speed [km/h]:</strong> {{ car.maxspeed }}</p>
  <p><strong>&#128052; Horse power:</strong> {{ car.hp}}</p>
  <p><strong>&#128197; Year:</strong> {{ car.caryear }}</p>
  <p><strong>&#9881; Cylinders #:</strong> {{ car.cylinders }}</p>
  <p><strong>&#128213; Description:</strong> {{ car.description }}</p>
  <br />
</div>
  
<div class="col-md-6 p-lg-5 mx-auto my-auto">
  	 {% if image_list %}
	  <div id="mycarouselControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
		  <div class="carousel-inner">
		    {% for pic in image_list %}
				  {% if forloop.first %}      
				    <div class="carousel-item active">
			      {% else %}
				    <div class="carousel-item">
			      {% endif %}
				      <img src="{% static pic %}" class="rounded" style="max-width:100%; max-height:400px">
				    </div>
	   		{% endfor %}
		  </div>
		  <button class="carousel-control-prev" type="button" data-bs-target="mycarouselControls" data-bs-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="visually-hidden">Previous</span>
		  </button>
		  <button class="carousel-control-next" type="button" data-bs-target="mycarouselControls" data-bs-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="visually-hidden">Next</span>
		  </button>
	 	</div>
     {% else %}
     	<p><strong>Gallery with images arriving soon!</strong></p>
     {% endif %}
 
 </div>
{% endblock %}